<div class="nested-fields">
  <%= f.input :name, label: "Item Name" %>
  <%= f.input :description, label: "Item description" %>
  <%= f.input :price, label: "Item Price" %>
  <%= link_to_remove_association "Remove Item", f %>
</div>