.order-wrapper, .menu-wrapper {
    background-color: hsl(0%, 0%, 98%);
    height: 100%;
    align-content: center;
    min-height: 100vh;

    &:has(.order__footer) {
        padding-bottom: var(--order-footer-height);
    }
}
.menu, .order {
    background-color: white;
    color: hsl(0%, 0%, 10%);
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);

    &__header {
        display: flex;
        gap: 8px;
        align-items: center;
        padding-left: 10px;
    }

    &__category {
        &-title {
            text-align: center;
            color: hsl(0%, 0%, 20%);
            background-color: hsl(0%, 5%, 90%);
            margin: 0;
            padding: 10px;
        }
        background-color: hsl(0%,0%,98%);
    }

    &__item {
        display: flex;
        justify-content: space-between;
        padding: 10px;

        &:nth-child(even) {
            background-color: hsl(0%, 0%,95%)
        }

        &-description {
            font-size: 0.75rem;
        }
    }

    &__item-adder-interface {
        text-align: right;
    }
    &__item-adder {
        display: inline-flex;
        align-items: center !important;
        background-color: hsl(0, 0, 90);

        form, button, .menu__item-quantity {
            height: 22px;
        }

        button {
            display: flex;  // Align icon inside button
        }

        .menu__item-quantity {
            line-height: 1.3;
            padding: 0 10px;
            margin: 0;
        }
    }

    &__footer-wrapper {
        position: fixed;
        bottom: 0;
        width: 100%;
        max-width: 600px;
    }
    &__footer {
        height: var(--order-footer-height);
        background-color: white;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 20px;

        .btn-checkout {
            font-size: 1rem;
        }
    }
}
